<p *ngIf="!dayPassedPercentage"></p>
<main *ngIf="dayPassedPercentage">
    <label for="bar">Day passed:</label>
    <progress-bar
        id="bar"
        [progress]="dayPassedPercentage"
        [color-degraded]="{ '0': '#00cbcb', '51': '#f9c3d3', '75': '#fd8c8e' }"
    >
    </progress-bar>
    <label for="bar">Day left:</label>
    <progress-bar
        id="bar"
        [progress]="dayLeftPercentage"
        [color-degraded]="{ '0': '#fd8c8e', '51': '#f9c3d3', '75': '#00cbcb' }"
    >
    </progress-bar>
    <footer>
        <i>data source: <a href="https://sunrise-sunset.org/">sunrise-sunset</a></i>
    </footer>
</main>
